/* cinzel-regular - latin */
@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/cinzel-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/cinzel-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/cinzel-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cinzel-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/cinzel-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/cinzel-v11-latin-regular.svg#Cinzel') format('svg'); /* Legacy iOS */
}

/* news-cycle-regular - latin */
@font-face {
  font-family: 'News Cycle';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/news-cycle-v17-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/news-cycle-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/news-cycle-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/news-cycle-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/news-cycle-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/news-cycle-v17-latin-regular.svg#NewsCycle') format('svg'); /* Legacy iOS */
}

.HelpButton{
    
}

.BugButton{
    
}