h1{
	text-align: center;
	font-family: 'Cinzel', serif;
}
.seatingPreview {
	float: right;
	margin-right:25px;
}
#information {
	display: block;
	float: left;
	margin-left: 150px;
}
.currShowName, .seatNum{
	font-family: 'News Cycle', sans-serif;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 4px;
}

.action {
	background-color: #3D1A17;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 5px;
	border-radius: 25px;
	border-color:#3D1A17;
	color:#FFDCA4;
	text-align:center;
	display: inline;
}
#selectDate{
	font-family: 'News Cycle', sans-serif;
	font-weight: bold;
	font-size: 20px;
	
}
.BugButton{
    border: 10px solid #C28E61;
    border-radius: 10px;
    display: inline;
    width: 75%;
    height: 50px;
    border: none;
    background-color: #3D1A17;
    background-size: 100%;
    outline: none;
    cursor: pointer;
    transition: .5s;
    margin-bottom: 5px;
	font-size: 18px;
	font-family: 'News Cycle', sans-serif;
	color: #FFDCA4;

}
.HelpButton{
    border: 10px solid #C28E61;
    border-radius: 10px;
    display: inline;
    width: 75%;
    height: 50px;
    border: none;
    background-color: #3D1A17;
    background-size: 100%;
    outline: none;
    cursor: pointer;
    transition: .5s;
    margin-bottom: 5px;
	font-size: 18px;
	font-family: 'News Cycle', sans-serif;
	color: #FFDCA4;
	
}
.BugButton:hover{
    background-color: #DCA87B;
    transition: .5s;  
}
.HelpButton:hover{
    background-color: #DCA87B;
    transition: .5s;
}
#createUser:hover{
    background-color: #DCA87B;
    transition: .5s;
}
#createUser{
	border: 10px solid #C28E61;
    border-radius: 10px;
    display: inline;
    width: 75%;
    height: 50px;
    border: none;
    background-color: #3D1A17;
    background-size: 100%;
    outline: none;
    cursor: pointer;
    transition: .5s;
    margin-bottom: 5px;
	font-size: 18px;
	font-family: 'News Cycle', sans-serif;
	color: #FFDCA4;
}
#createUserTable{
	font-size: 20px;
	font-family: 'News Cycle', sans-serif, bold;
	color: #3D1A17;
	font-weight: bold;
}