*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'News Cycle', sans-serif;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: #6E492E; 

}

/* Lots of this css was based on the css in this video: https://www.youtube.com/watch?v=ZvU57lTnNgo&t=540s */

h1{
    text-align: center;
    margin-bottom: 60px;
    font-family: 'Cinzel',serif;
}

#loginScreen{
    border: 10px solid #C28E61;
    border-radius: 16px;
    background-color: #FFDCA4;
    width: 360px;
    height: 580px;
    padding: 80px 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.userForm{
    border-bottom: 2px solid #C28E61;
    position: relative;
    margin: 30px 0;
}

.userForm input{
    font-size: 15px;
    color: #333;
    border: none;
    width: 100%;
    outline: none;
    background: none;
    padding: 0 5px;
    height: 40px;
}

.userForm span::before{
    content: attr(data-placeholder);
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    z-index: -1;
    transition: .5s;
}

.userForm span::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #C28E61;
    transition: .5s;
}



.focus + span::before{
    top:-5px;
}

#but_submit{
    border: 10px solid #C28E61;
    border-radius: 10px;
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    background-color: #C28E61;
    background-size: 200%;
    outline: none;
    cursor: pointer;
    transition: .5s;
    margin-bottom: 5px;
    font-size: 20px;
}
#but_submit:hover{
  background-color: #DCA87B;
    transition: .5s;
}

.BugButton{
    border: 10px solid #C28E61;
    border-radius: 10px;
    display: inline;
    width: 49%;
    height: 50px;
    border: none;
    background-color: #C28E61;
    background-size: 200%;
    outline: none;
    cursor: pointer;
    transition: .5s;
    margin-bottom: 5px;
}
.HelpButton{
    border: 10px solid #C28E61;
    border-radius: 10px;
    display: inline;
    width: 49%;
    height: 50px;
    border: none;
    background-color: #C28E61;
    background-size: 200%;
    outline: none;
    cursor: pointer;
    transition: .5s;
    margin-bottom: 5px;
}

.BugButton:hover{
    background-color: #DCA87B;
    transition: .5s;  
}
.HelpButton:hover{
    background-color: #DCA87B;
    transition: .5s;
}

#message{
    margin-bottom: 10px;
}
