#bugTitle{
  margin: 5px;
  width: 500px;
  height: 25px;
}

#bugBody {
  margin: 5px;
  width: 500px;
  height: 250px;
  }

  button{
    background-color: #3D1A17;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    border-radius: 25px;
    border-color:#3D1A17;
    color:#FFDCA4;
    text-align:center;
    display: inline;
  }

  a{
    text-decoration: none;
    color: #FFDCA4;
  }