
#GenBody{
display: inline;
    width: 100%;
}

#Select{
    float:left;
    margin-top:20px;
    margin-left: 15px;
    font-family: 'News Cycle', sans-serif;
    text-align: left;
    width: 50%;

}
svg {
    display: block;
    margin-right:25px;
    margin-bottom: 5px;
}
.action{
    background-color: #3D1A17;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right:10px;
    border-radius: 25px;
    border-color:#3D1A17;
    color:#FFDCA4;
    text-align:center;
    display: inline;
}

#Preview{
    float: right;
    align-content: center;
    font-family: 'News Cycle', sans-serif;
}

.reservationList {
    border: 1px solid #3D1A17;
    border-collapse: collapse;
    background-color: #C28E61;
    width: 100%;
}

td, th {
    border: 1px solid #3D1A17;
    border-collapse: collapse;
    text-align: center;
}

th{
    background-color: #3D1A17;
    color: #FFDCA4;
    font-weight:lighter;
}

tr:nth-child(even) {
    background-color: #FFDCA4;
}

.selectAllReservations {
    margin:10px 5px 10px 5px;
    border: 1px solid #3D1A17;
    background-color: #3D1A17;
    border-radius: 15px;
    text-align: center;
    color:#FFDCA4;
    display: inline;
    padding-right: 5px;
}

.selectAllReservations:checked {
    margin:10px 5px 10px 10px;
}

.selectDate{
    margin-top: -100px;
}